body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 30px 0 10px 0;
}

h3,
h4 {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  opacity: 0.7;
}

h4:first-letter {
  text-transform: uppercase;
}

ul {
  font-size: 12px;
  font-weight: 400;
  list-style: none;
  opacity: 0.7;
  padding: 10px 0;
}

.app-container {
  background-color: #fff;
  border: 1px solid #e9edf0;
  border-radius: 0.375rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 10px auto;
  max-width: 700px;
  padding: 37px;
}

.container {
  margin: 50px auto;
  max-width: 700px;
}

.btn {
  padding: 0.375rem 2.75rem;
}

.weather-detail-list span {
  font-weight: 600;
  opacity: 1;
}

.temperature-container {
  align-items: center;
}

.temp-value {
  font-size: 70px;
  font-weight: 600;
  margin-left: 10px;
  text-align: center;
}

.units {
  font-size: 22px;
  font-weight: 500;
  position: relative;
  top: -35px;
  right: -1px;
}

.card {
  border-color: #fff;
}
.card-body {
  padding: 16px 14px;
  text-align: center;
}

.card-title,
.forecast-temp-min,
.forecast-temp-max {
  font-size: 15px;
}

.forecast-temp-min {
  opacity: 0.5;
}
